/* -------------------------------------
 * Colors & Fonts
 * ------------------------------------- */
$navbar-color: black;
$navbar-hover-color: #10F671;
$navbar-font-family: $header-font;
$navbar-bg: white;

/* -------------------------------------
 * Box model
 * ------------------------------------- */
$navbar-height: 50px;
$navbar-vertical-padding: 5px;
$navbar-horizontal-padding: 20px;
$navbar-border-bottom-width: 0;
$navbar-border-bottom-color: grey;

/* -------------------------------------
 * Navbar button
 * ------------------------------------- */
$navbar-btn-height: 40px;
$navbar-btn-bg: lightgrey;
$navbar-btn-color: white;
$navbar-btn-horizontal-padding: 10px;
$navbar-btn-radius: 2px;

/* -------------------------------------
 * Navbar profile picture
 * ------------------------------------- */
$navbar-profile-radius: 50%;
$navbar-profile-border-color: white;
$navbar-profile-border-width: 2px;

/* -------------------------------------
 * SCSS code
 * ------------------------------------- */
.navbar-wagon {
  background: $navbar-bg;
  font-family: $navbar-font-family;
  border: none;
  font-weight: 400;
  padding-left: $navbar-horizontal-padding;
  padding-right: $navbar-horizontal-padding;
  border-bottom: $navbar-border-bottom-width solid $navbar-border-bottom-color;
  min-height: 0;
  transition: background 0.4s ease;
  border-bottom: solid 1px #f1f1f1;

  .navbar-nav > li > a,
  .navbar-nav > .open > a,
  .navbar-nav > li > a:focus,
  .navbar-nav > .open > a:focus {
    outline: none;
    font-size: 18px;
    color: black;
    line-height: 50px;
    padding-top: 11px;
    padding-bottom: 5px;
    background-color: transparent;
    -webkit-transition: all 0.3s ease;
       -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
            transition: all 0.3s ease;
  }

  .navbar-nav > li > a:hover,
  .navbar-nav > .open > a:hover {
    color: $navbar-hover-color;
    background-color: transparent;
  }

  .navbar-brand,
  .navbar-brand:hover {
    outline: none;
    color: $navbar-color;
    padding-top: $navbar-vertical-padding;
    padding-bottom: $navbar-vertical-padding;
  }

  .navbar-nav > li > a.btn {
    line-height: $navbar-btn-height;
    padding: 0 $navbar-btn-horizontal-padding;
    color: $navbar-btn-color;
    border-radius: $navbar-btn-radius;
    margin-top: ($navbar-height + 2 * $navbar-vertical-padding - $navbar-btn-height) / 2;
    font-weight: bold;
    background-color: $navbar-btn-bg;
    font-size: 12px;
    &:hover{
      background-color: darken($navbar-btn-bg, 30%);
    }
  }

  .navbar-brand img, .navbar-brand svg {
    height: $navbar-height;
    width: 243%;
    padding: 0px;
  }

  .img-avatar{
    border: $navbar-profile-border-width solid $navbar-profile-border-color;
    box-shadow: 0 0 2px rgb(200, 200, 200);
    height: $navbar-height - (2 * $navbar-profile-border-width);
    margin-right: 10px;
    border-radius: $navbar-profile-radius;
  }

  .navbar-toggle {
    border-color: #dddddd;
    width: 45px;
    background: transparent;
  }

  .navbar-nav > li > .dropdown-menu{
    border-radius: 0;
    margin-top: 10px;
  }
}

@media screen and (max-width: 768px){
  .navbar-wagon{
    .navbar-right{
      position: absolute;
      right: 10%;
      top: -13%;
    }
    .navbar-collapse{
      border-style: none;
    }
  }
}


#magictitle{
  font-family: faktpromedium;
  height: $navbar-height;
  width: 200px;
  margin-top: 8px;
  p{
    font-size: 24px;
    line-height: 50px;
    margin: 0;
  }
  img{
    width: 7%;
    padding-bottom: 1px;
  }
  a{
    text-decoration: none;
    color: black;
  }
}

