.testimonial-holder{
  margin-bottom: 2%;
}

.testimonial{
  margin-bottom: 3%;
  .bubble{
    padding: 3% 4%;
    border-radius: 11px;
    margin-top: 3%;
  }
  .bubble-right{
    margin-left: 30%;
  }
  .bubble-left{
    margin-right: 30%;
  }
  .author{
    font-size: 0.7em;
    margin-top: 1%;
    .position{
      font-size: 0.9em;
    }
  }
  .author-right{
    text-align: right;
  }
  .author-left{
    text-align: left;
  }
  #bubbleblue{
    background-color: #C5EFF7;
  }
  #bubblegreen{
    background-color: #ebffea;
  }
  #bubblepink{
    background-color: #fff6e1;
  }
}

.roundpoint{
  padding: 6px 9px;
  margin-right: 9px;
  background-color: #e8e8e8;
  border-radius: 13px;
}

#creds{
  margin-bottom: 30px;
  text-decoration: none;
  img{
    width: 145px;
    opacity: 0.3;
    &:hover{
      opacity: 1;
    }
  }
  a{
    text-decoration: none;
  }
}


@media screen and (max-width: 768px){
  .testimonial{
    margin-top: 7%;
    .bubble{
      padding: 5% 7%;
    }
  }
}
