.testimonial-holder{
  margin-bottom: 2%;
  margin-top: 4%;
}

.testimonial{
  margin-bottom: 3%;
  .bubble{
    padding: 3% 4%;
    border-radius: 11px;
    margin-top: 4%;
  }
  .bubble-right{
    margin-left: 30%;
  }
  .bubble-left{
    margin-right: 30%;
  }
  .author{
    font-size: 0.7em;
    margin-top: 1.5%;
    .position{
      font-size: 0.9em;
    }
  }
  .author-right{
    text-align: right;
  }
  .author-left{
    text-align: left;
  }
  .bubblegrey{
    background-color: #f7f7f7;
  }
  .bubblegreen{
    background-color: #ebffea;
  }
}

.roundpoint{
  padding: 6px 9px;
  margin-right: 9px;
  background-color: #e8e8e8;
  border-radius: 13px;
}

.greylink a{
  color: #cecece;
  text-decoration: none;
}


.testimonialpic{
  display: inline-block;
}

.testimonialgiver{
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
}

.testimonialpic img{
  width: 28px;
  border-radius: 50%;
  margin-top: -17px;
}

#creds{
  display: none;
  margin-bottom: 30px;
  text-decoration: none;
  img{
    width: 145px;
    opacity: 1;
    &:hover{
      opacity: 0.6;
    }
  }
  a{
    text-decoration: none;
  }
}

#founded{
  margin-top: 3em;
}


@media screen and (max-width: 768px){
  .testimonial{
    margin-top: 7%;
    .bubble{
      padding: 5% 7%;
    }
    .bubble-right {
      margin-left: 10%;
    }
    .bubble-left {
      margin-right: 10%;
    }
  }
}
