.logo{

}
.navlinks{
	text-align: right;
}

.hero{
	background-color: #d4d4d6;
	height: 80vh;
	.tagline{
		margin-top: 27vh;
		text-align: center;
		padding: 0em 16em;
	}
}

.usecases{
	background-color: #e5e5e8;
	.usecase-holder{
		background-color: #939393;
		padding: 3em;
		margin: 4em;
		border-radius: 6px;
	}
}

.cook-photo img {
	border-radius: 8px;
	width: 240px;
	height: 240px;
	object-fit: cover;
}

.container {
	margin: 0;
	width: 100%;
}

.cooks-details {
	margin-top: 40px;
	display: flex;
	justify-content: center;
}

.cook {
	text-align: center;
	max-width: 400px;
	margin-bottom: 24px;
}