
.container{
	margin: 0;
	width: 100%;
}

/* HERO */
.logo{
}
.navlinks{
	text-align: right;
}
.hero{
	background-color: #d4d4d6;
	height: 80vh;
	.tagline{
		margin-top: 27vh;
		text-align: center;
		padding: 0em 16em;
	}
}

/* USE CASES */
.usecases{
	background-color: #e5e5e8;
	.usecase-holder{
		background-color: #939393;
		padding: 3em;
		margin: 4em;
		border-radius: 6px;
	}
}



/* CONTACT US */
.contactus{
	background-color: white;
	padding: 4em 6em;
	margin: 4em;
}

/* WE WORKED FOR */
.workedfor{
	background-color: white;
}

.collab-holder{
	text-align: center;
}

.collab{
	img{
		width: 10%;
		padding: 1em;
	}
}



.testimonial-holder{
  margin: auto;
  width: 72%;
 }

.testimonial{
  margin-bottom: 3%;
  .bubble{
    padding: 3% 4%;
    border-radius: 11px;
    margin-top: 4%;
  }
  .bubble-right{
    margin-left: 30%;
  }
  .bubble-left{
    margin-right: 30%;
  }
  .author{
    font-size: 0.7em;
    margin-top: 1.5%;
    .position{
      font-size: 0.9em;
    }
  }
  .author-right{
    text-align: right;
  }
  .author-left{
    text-align: left;
  }
  .bubblegrey{
    background-color: #f7f7f7;
  }
  .bubblegreen{
    background-color: #ebffea;
  }
}

.roundpoint{
  padding: 6px 9px;
  margin-right: 9px;
  background-color: #e8e8e8;
  border-radius: 13px;
}

.greylink a{
  color: #cecece;
  text-decoration: none;
}


.testimonialpic{
  display: inline-block;
}

.testimonialgiver{
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
}

.testimonialpic img{
  width: 28px;
  border-radius: 50%;
  margin-top: -17px;
}

// FOOTER

.newsletter{
  background-color: #e8e8e8;
  padding: 6em;
}


.footer{
  background-color: #848484;
  padding: 2em;
}



// COOKS TO MOVE TO OWN CSS

.cook-photo img {
	border-radius: 8px;
	width: 240px;
	height: 240px;
	object-fit: cover;
}

.container {
	margin: 0;
	width: 100%;
}

.cooks-details {
	margin-top: 40px;
	display: flex;
	justify-content: center;
}

.cook {
	text-align: center;
	max-width: 400px;
	margin-bottom: 24px;
}
