<!-- SPLASH SCREEN -->
<div class="container">
    <div class="row hero">
        <div class="logo col-xs-6">
            <a href="/index.html">Mozza</a>
        </div>
        <div class="navlinks col-xs-6">
            Cooks Recipes Contact Us
        </div>
        <div class="col-xs-12 tagline">
            <h1>The Cooks</h1>
            <p>
                We are a team of 5 senior product people with experience in successful startups. 
                Enjoy our work? Become a Mozzayolo
            </p>
        </div>
    </div>
</div>
<!-- COOKS -->
<div class="container">
    <div class="row cooks-details">
        <div class="cook col-xs-12 col-md-6">
            <div class="cook-photo">
                <img src="images/michel.jpg" />
            </div>
            <div class="cook-name">
                <h2>Michel</h2>
            </div>
            <div class="cook-description">
                <p>Une sacrée expérience dans tout ce qui est meufs, alcool, drogue et digital nomadisme</p>
            </div>
        </div>

        <div class="cook col-xs-12 col-md-6">
            <div class="cook-photo">
                <img src="images/michel.jpg" />
            </div>
            <div class="cook-name">
                <h2>Michel</h2>
            </div>
            <div class="cook-description">
                <p>Une sacrée expérience dans tout ce qui est meufs, alcool, drogue et digital nomadisme</p>
            </div>
        </div>
    </div>

    <div class="row cooks-details">
        <div class="cook col-xs-12 col-md-6">
            <div class="cook-photo">
                <img src="images/michel.jpg" />
            </div>
            <div class="cook-name">
                <h2>Michel</h2>
            </div>
            <div class="cook-description">
                <p>Une sacrée expérience dans tout ce qui est meufs, alcool, drogue et digital nomadisme</p>
            </div>
        </div>

        <div class="cook col-xs-12 col-md-6">
            <div class="cook-photo">
                <img src="images/michel.jpg" />
            </div>
            <div class="cook-name">
                <h2>Michel</h2>
            </div>
            <div class="cook-description">
                <p>Une sacrée expérience dans tout ce qui est meufs, alcool, drogue et digital nomadisme</p>
            </div>
        </div>
    </div>
</div>