---
title: Mozza: Virality is a science.
---

<canvas id="particles"></canvas>
<div class="mainview">
  <div class="row">
    <div class="col-xs-12">
      <p>Virality is a science. We analyse how popular apps nailed it to unlock massive growth.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h1>Freshest recipes:</h1>
      <div class="slides">
        <% data.slides.each do |slide| %>
          <div class="slideWrapper">
            <iframe src="//www.slideshare.net/slideshow/embed_code/key/<%=slide.id %> " width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" allowfullscreen> </iframe>
          </div>
        <% end %>
      </div>
      <div class="newsletter">
        Get our latest recipes in your inbox: soon!
      </div>
    </div>
  </div>
</div>
