<!-- SPLASH SCREEN -->
<div class="row hero">
	<div class="logo col-xs-6">
		Mozza
	</div>
	<div class="navlinks col-xs-6">
		Cooks Recipes Contact Us
	</div>
	<div class="col-xs-12 tagline">
		<h1>Your Product Team, on a Plate</h1>
		<p>Mozza is a group of senior product managers and UX/UI designers who help promising startups craft amazing apps and improve their metrics.</p>
	</div>
</div>
<!-- USE CASES -->
<div class="row usecases">
	<div class="col-xs-12">
		<h2>What we can do for you</h2>
	</div>
	<div class="col-xs-12">
		<div class="usecase-holder d-flex flex-row">
			<div class="usecase-img">
			Image
			</div>
			<div class="usecase-desc">
				<h3>UX & Metrics Audit</h3>
				<p>A team of 2 Mozzayolos (1 Product manager & 1 UI/UX Designer) created a travel lottery app from scratch for a French entrepreneur, from strategy/ideation to a high-fidelity prototype with a neat user interface. The project will be live in the first half of 2019.</p>
			</div>
		</div>
	</div>
</div>
