<div class="intro">
  <p>We helped a leading ridesharing app Heetch tackle a major product challenge. To increase user engagement and monetization, we came up with a wide range of feature ideas and a successful strategy. Heetch raised $20M since then.</p>
</div>

<div class="paragraph">
  <p>French startup Heetch has an ambitious goal. The company wants to become the second ride-sharing service in France and in the other European countries where it operates.</p>
  <p>In order to stay competitive with Uber, Heetch  is a bit cheaper than a normal UberX ride. But drivers still get paid more or less as much on Heetch and on Uber as the startup’s cut is only 15 percent.</p>
  <p>In late 2017, after raising a $12M round, they came up to us with a major challenge: keeping drivers available on the app during peak times, when more users open the app to look for a ride as Uber prices get higher.</p>
</div>

