<!-- HERO -->
<div class="container hero">
  <div class="row">
    <div class="logo col-xs-6">
      Mozza
    </div>
    <div class="navlinks col-xs-6">
      Cooks Recipes Contact Us
    </div>
    <div class="col-xs-12 tagline">
      <h1>Recipes</h1>
      <p>Our Product specialties</p>
    </div>
  </div>
</div>


<!-- RECIPES -->
<div class="container recipes">
  <div class="row">
    yo
  </div>
</div>
